# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# PgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=securepassword
PGADMIN_PORT=5050

# Redis
REDIS_PORT=6380

# RedisInsight
REDIS_INSIGHT_PORT=5540

# SEAWEEDFS
SEAWEEDFS_S3_PORT=8333
SEAWEEDFS_MASTER_PORT=9333
SEAWEEDFS_FILER_PORT=8888
SEAWEEDFS_ADMIN_PORT=23646
SEAWEEDFS_ACCESS_KEY_ID=disillusioned-labs
SEAWEEDFS_SECRET_ACCESS_KEY=disillusioned-labs-secret