# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# PgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=securepassword
PGADMIN_PORT=5050

# Redis
REDIS_PORT=6380

# RedisInsight
REDIS_INSIGHT_PORT=5540

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=securepassword
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001